# Terraform files
.terraform/
.terraformrc
terraform.rc
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Package
package-lock.json
node_modules/

# Environment variables (sensitive data)
.env
.env.local
.env.*.local

# IDE
.idea/
*.swp
*.swo

.DS_Store
.vscode/

# Log files
crash.log
crash.*.log
*.log

# Frontend
src/frontend/build